<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <!-- Check *.java files to match header in file config/java.header -->
    <module name="Header">
        <property name="headerFile" value="config/java.header"/>
        <property name="fileExtensions" value="java"/>
    </module>

    <!-- Check for long source files -->
    <module name="FileLength">
        <property name="max" value="500"/>
    </module>

    <!-- Check for long lines -->
    <module name="LineLength">
        <property name="max" value="80"/>
    </module>

    <!-- Check that there are no tab(\t) characters -->
    <!-- Commit messages in mailing lists are almost impossible to read if you use tabs -->
    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
    </module>

    <!-- Check individual java source files and defines properties applicable to checking those -->
    <module name="TreeWalker">
        <!-- Check only .java files -->
        <property name="fileExtensions" value="java"/>
        <!-- Restricts the number of boolean operators in an expression to 4 -->
        <module name="BooleanExpressionComplexity">
            <property name="max" value="4"/>
        </module>

        <!-- Indicator of the minimum number of possible paths through the source -->
        <!-- It indicates the minimum number of text to write, 1 to 4 is a good number ^^ -->
        <!-- If the number exceeds, REFACTOR NOW, before is too late mate -->
        <module name="CyclomaticComplexity">
            <property name="max" value="7"/>
        </module>

        <!-- Check for maximum number of lines in a methods -->
        <module name="MethodLength">
            <property name="tokens" value="METHOD_DEF"/>
            <property name="max" value="30"/>
            <property name="countEmpty" value="false"/>
        </module>

        <!-- Check for empty catch blocks -->
        <module name="EmptyCatchBlock"/>

        <!-- Check for import statements that use * notation -->
        <!-- Importing all classes from a package leads to clashes -->
        <module name="AvoidStarImport">
            <!-- If the case requires it, you can use property "exclude" as following -->
            <!-- <property name="excludes" value="java.io, java.lang.Math, ..."/> -->
        </module>
        
        <!-- Check for imports from a set of illegal packages (e.g. sun packages) -->
        <module name="IllegalImport"/>

        <!-- Checks for braces around code blocks -->
        <module name="NeedBraces">
            <property name="allowSingleLineStatement" value="true"/>
        </module>

    </module>
</module>